html{
background-color:rgb(253,246,227);
color:rgb(88,110,117);
font-family:"Helvetica","Arial", sans-serif
}
html *{
color:rgb(88,110,117)
}
html h1,html h2,html h3,html h4,html h5,html h6{
color:rgb(88,110,117);
border-color:rgb(88,110,117);
font-weight:bold
}
html a, html a:active, html a:visited{
color:rgb(96,120,144)
}
html a:hover{
color:rgb(0,51,102)
}
html h1#pagetitle, html h1:first-of-type{
font-size:300%;
margin-top:0px;
margin-bottom:20px;
line-height:100%
}
body{
font-size:16px;
margin:0px auto 0px auto
}
div#header-strip{
padding:10px 0px 10px 0px;
background-color:rgb(38,139,210);
overflow:auto
}
div#header{
width:960px;
margin:0px auto 0px auto
}
div#logo{
float:left
}
div#header #logo a{
color:rgb(238,232,213);
font-size:24px;
font-weight:bold;
text-decoration:none
}
div#logo span{
color:rgb(238,232,213);
font-size:16px;
font-style:italic
}
div#header #navigation{
text-align:end
}
div#header #navigation a{
color:rgb(238,232,213);
font-size:22px;
font-weight:bold;
margin-left:18px;
text-decoration:none
}
div#container{
width:960px;
margin:0px auto 0px auto;
padding:30px 0px 30px 0px
}
div#content{
padding:0px 10px 0px 10px
}
div#footer-strip{
overflow:auto;
padding:12px 0px 12px 0px
}
div#footer{
color:rgb(147,161,161);
font-size:12px;
text-align:end;
width:960px;
margin:0px auto 0px auto
}
h1{
font-size:24px
}
h2{
font-size:20px
}
div.info{
color:rgb(147,161,161);
font-size:14px;
font-style:italic
}
pre.sourceCode, table.sourceCode, table.sourceCode *{
font-family:"Monaco","Inconsolata","DejaVu Sans Mono","Courier New","Courier", monospace
}
code.sourceCode span.kw{
color:rgb(181,137,0);
font-weight:bold
}
code.sourceCode span.dt{
color:rgb(42,161,152)
}
code.sourceCode span.dv{
color:rgb(88,110,117)
}
code.sourceCode span.bn{
color:rgb(203,75,22)
}
code.sourceCode span.fl{
color:rgb(42,161,152)
}
code.sourceCode span.ch{
color:rgb(220,50,47)
}
code.sourceCode span.st{
color:rgb(211,54,130)
}
code.sourceCode span.co{
color:rgb(88,110,117);
font-style:italic
}
code.sourceCode span.al{
color:rgb(133,153,0);
font-weight:bold
}
code.sourceCode span.fu{
color:rgb(38,139,210)
}
code.sourceCode span.er{
color:rgb(220,50,47);
font-weight:bold
}

